@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
      font-weight: 100;
      font-size: 27pt;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      font-family: sans-serif;
    }

    p {
      font-weight: 300;
      font-family: sans-serif;
    }
    .warning-content {
      position: absolute;
      top: 25%;
      width: 100%;
      height: 300px;
      text-align: center;
      margin: 0;
    }
    body {
      background-color: black;
      color: #fff;
      background:linear-gradient(20deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)),url("https://plus.unsplash.com/premium_photo-1691938887505-3438040ee314?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center fixed;
      background-size: cover;
      overflow: hidden;
    }
